* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: black;
    font-size: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

form > *:not(:last-child) {
    margin-bottom: 1rem;
}

.timer-text {
    font-size: 6rem; 
    font-weight: 700;
    line-height: 1;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
